@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: system-ui, -apple-system, sans-serif;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
  